<div class="container">
    <div class="container">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Produit</label>
            <input type="text" class="form-control" [(ngModel)]="nomProduit" name="nomProduit" class="form-control">
            <button type="submit" (click)="rechercherProds()" class="btn btn-primary mb-2 ml-2">Rechercher</button>

        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                @if(produits && produits.length > 0){
                <thead>
                    <tr>
                        <th>index</th>
                        <th>code_produit</th>
                        <th>Designation</th>
                        <th>Tarif</th>
                        <th>Date Expiration</th>
                        <th>Marque</th>
                    </tr>
                </thead>
                <tbody>
                    @for (produit of produits; track produit.code_produit; let index =$index;let nbr=$count;let first = $first;let last = $last) {
                    <tr>
                        <td>{{index +1}}</td>
                        <td>{{produit.code_produit}}</td>
                        <td>{{produit.designation}}</td>
                        <td>{{produit.tarif}}</td>
                        <td>{{produit.date_expiration | date:'dd/MM/yyyy'}}</td>
                        <td>{{produit.marque.nom_marque}}</td>
                    </tr>
                    @if(last) {
                    <tr>
                        <td colspan="6"><h1>Nombre : {{nbr}}</h1></td>
                    </tr>
                    }
                    }
                </tbody>
                } @else {
                <tr>
                    <td colspan="6">
                        <h1>Aucun produit trouvé !</h1>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>